= form_for [owner, video], html: { multipart: true, class: 'text-center' } do |f|
  = render partial: 'shared/form_error', collection: video.errors.full_messages
  %p= f.text_field :name
  %p= f.text_field :url, placeholder: '<iframe ...></iframe>'
  %p= f.text_field :rank, placeholder: '(highest shows first)'
  = f.submit class: 'btn btn-primary'