%table.table-hover
  %thead
    %tr
      %th
        text
      %th
        generated markdown
  %tbody
    - ["# Header", "## Header", "### Header", "#### Header", "##### Header", "###### Header", "---", "_emphasis_", "*italic*", "`kinda quote`", "- list", "1. ordered list", "> blockquote", "    text preceeded by 4 spaces", "[more info](http://daringfireball.net/projects/markdown/basics)"].each do |text|
      %tr
        %td
          = text
        %td
          = markdown text
    - if Video.first
      %tr
        %td
          = "__video #{Video.first.name}__"
        %td
          = markdown "__video #{Video.first.name}__"
    - if Image.first
      %tr
        %td
          = "__image #{Image.first.name}__"
        %td
          = markdown "__image #{Image.first.name}__"