= form_for [owner, image], html: { multipart: true } do |f|
  = render 'shared/form_error', collection: image.errors.full_messages
  %p
    = f.text_field :name
  %p
    = f.file_field :file
  = f.submit class: 'btn btn-primary'