.navbar
  .container-fluid.nav_logo_wrap
    .span4.logowrap
      = link_to image_tag('/images/logo_mildwurm2.png', :alt => 'Mildwurm Productions', :id=>"logo_image"), root_path, class: 'brand'
    .span5.span5fix
      .navwrap
        %ul.nav
          %li{ class: nav_class( 'pages', 'about' ) }
            = link_to 'About', about_path
          %li{ class: nav_class( 'pages', 'contact' ) }
            = link_to 'Contact', contact_path
          %li{ class: nav_class( 'articles' ) }
            = link_to 'Blog', articles_path
<<<<<<< HEAD
      .navbar-text.login
=======
          %li{ class: nav_class( 'projects' ) }
            = link_to 'Projects', projects_path
      %p.navbar-text.pull-right
>>>>>>> 474924f6cdcedcc1b24b5914ab1a78e580f69626
        = render partial: 'layouts/session_control'